form div label {
  width: 35%;
}
.form form div label {
  color: #002f94;
  font-size: 16px;
  text-shadow: 0px 0px 2px #fff;
  padding-left: 7.5px;
}
.form form div input[type="file"]::file-selector-button,
.form form div input,
.form form div input::placeholder,
.form form div input:focus {
  color: #002f94;
  text-shadow: 0px 0px 2px #fff;
}
