body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Oswald", sans-serif;
  position: relative;
  background-color: #90caf9;
}
body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("./assets/istockphoto-1096460950-612x612.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
  z-index: -1;
  opacity: 0.025;
}
